body{
    margin: 0;
    padding: 0;
}

.main{
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    
}
h2
{
    margin-bottom: 5%;
}
.first{
    margin: 20px;
}
.btn{
    margin-left: 15%;
}
.log{
    width: 100%;
}
